{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'core/styles.css' %}" />
    <nav>
      <div class="navbar">
        <div class="navbar-btn">
          <a href=""><button class="btn">Home</button></a>
          <a href="/store"><button class="btn">Store</button></a>
          <a href="/store/products"><button class="btn">Products</button></a>
          <a href=""><button class="btn">Help Center</button></a>
          <!-- <a href=""><button class="btn">About</button></a> -->
          <input id="search-bar" type="text"/>
        </div>
      </div>
    </nav>
  </head>
  <body>
    <div class="home-page">
      <img src="{% static 'core/logo.svg' %}" alt="Logo" class="logo" />
    </div>
    <script src="{% static 'core/index.js' %}"></script>
  </body>
</html>
